body {background-size:cover;
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 0;
     padding: 0;}

.Container {background-color: hwb(0 0% 100% / 0.445);
        width: 70%;
        border-radius: 15px;
        padding: 20px;
        margin: auto;
        margin: 0;}
        
header {margin-top: 50px;      
        color: rgb(12, 231, 30);
       font-size: 20px;}

/* Questa regola è utilizzata per tenere gli elementi del layout al centro della pagina */
header,nav,.Container {text-align: center;}     


.Logo {width: 45%; 
      height: 45%;}

button {font-size: 15px;}
        
nav {background-color: rgb(12,231,30);
     width:85%;
     padding: 15px;
     box-sizing: border-box;}

.section-align {width: 85%;
                text-align: left;
                margin: 0;}
.checkbox {transform: scale(1.5);}  


/* Questa regola definisce il font del documento */
body,button,section {font-family: 'Montserrat', Courier, monospace;}    



section {color: white;
        text-align: left; 
        font-size: 20px;
        margin-top: 20px;
        width: 85%;}

section,nav,header, .section-align , .checkbox  {display: inline-block;}

h2,p {margin: 0;
margin-top: 3px;}

h1 {margin:8px}


/* Regole di stile per le barre di carica dei monopattini */

.CaricaGino22 { background-color: lightgreen;
                width: 400px;
        }

.CaricaMike24 { background-color: rgb(131, 219, 62);
                width: 700px;
                }

.CaricaFede154 { background-color: rgb(254,44,84);
                width: 160px;
                }

.CaricaGino22, .CaricaMike24, .CaricaFede154 {border-radius: 6px;
                                              height: 35px;
                                              margin-top: 5px;
                                              margin-bottom: 25px;}